/*全体の背景とフォントの種類について*/
body{
  font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
  background-image: linear-gradient(rgba(18,52,86,1),rgba(18,52,86,0.7));
}

/*コンテンツをページ中央に寄せる*/
#wrapper{
  width: 880px;
  margin: 0 auto;
}

a{
  transition: color 1s;
}

a:hover{
  color: skyblue;
}

/*リンクのサイズを親要素とぴったり同じにする*/
ul{
  padding-left: 1.2em;
}

li{
  padding: 8px 0;
}

ol > li:first-letter{
  font-size: 1.2em;
}

/*サイドバー、ヘッド、記事部分の背景を白くする。影をつける。*/
#sidebar,
#head,
#content{
  background-color: white;
  box-shadow: black 0 0 2px;
}

/*サイドバーの幅高さ、横の記事との間をあける*/
#sidebar{
  width: 220px;
  float: left;
  padding: 2px;
  margin: 0 20px 0 0;
}

/*ヘッド部分の高さを決めて、他の要素との間をあける*/
#head{
  margin:0 0 20px;
  height: 200px;
}

#content{
  padding: 5px;
}

#main{
  float: left;
  width: 540px;
}
